/* Menu */
.sidebar-brand {
    white-space: nowrap;
}
.sidebar-brand-icon img {
    max-height: 50px;
}

.sidebar-brand-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.sidebar {
    width: 280px !important;
}
.sidebar .nav-item .nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-align: left;
    font-size: 20px;
}

